.returnPage {
    padding: 30px;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: #4F4FFF;
    cursor: pointer;
}