.login {
  font-family: 'BR Sonoma', sans-serif;
  height: 100%;

  .imgSmall{
    display: none;
  }

  @include telefono {
    &__img{
      display: none;
    }

    .imgSmall{
      display: block;
    }

    .loginForm__header{
      display: flex;
      gap: 25px;
    }
  }

  &__content {
    display: flex;
    gap: 100px;
  }

  &__img {
    max-width: 480px;
    height: auto;
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
  }

  .loginForm {
    width: 352px;

    @include telefono {
      width: 300px;
    }

    &__btn {
      border-radius: 40px;
      padding: 20px 40px;
      background: #03050F;
      width: 195px;
      //styleName: Component text/comp-20-bold;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      color: #FFF;
      margin-top: 30px;
      margin-bottom: 10px;
      cursor: pointer;

      @include telefono {
        width: 100%;
      }
    }

    &__greentext {
      background: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);
      width: 172px;
      height: 24px;
      padding: 4px 8px;
      gap: 4px;
      border-radius: 4px;
      opacity: 0px;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.4000000059604645px;
      text-align: left;
    }

    &__fields {
      display: flex;
      flex-direction: column;
      gap: 10px
    }

    .field {
      display: flex;

      #docType {
        width: 140px;
        height: 56px;
        font-size: 18px;
        padding: 16px 24px;
        gap: 8px;
        border-radius: 8px 0px 0px 8px;
        border: 0px 1px 0px 0px;
        opacity: 0px;
        border: 1px solid #5E6488;
        outline: none;
      }

      #idNumber {
        font-size: 16px;
        width: 100%;
        height: 56px;
        padding: 8px 16px 8px 16px;
        gap: 0px;
        border-radius: 0px 8px 8px 0px;
        outline: none;
        border: 1px solid #5E6488;
        border-left: none;
      }

      #phone {
        font-size: 16px;
        width: 100%;
        height: 56px;
        padding: 8px 16px 8px 16px;
        gap: 0px;
        border-radius: 8px;
        outline: none;
        border: 1px solid #5E6488;
      }
    }

    &__privacy,
    &__comercial {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      font-size: 12px;
      font-weight: 400;
      align-items: center;
    }

    .checkbox {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;

      &__container{
        width: 20px;
        height: 20px;
        border-radius: 4px;
        opacity: 0px;
        border: 1px solid #0A051E;
      }

      .error{
        border: 1px solid #d75e5e;
        color: #d75e5e
      }
    }

    &__terminos {
      text-decoration: underline;
      //styleName: Body expanded/body-12-link;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.10000000149011612px;
      text-align: left;
      margin-top: 10px;
    }

    .error{
      color: rgb(223, 122, 122);
      font-size: 12px;
    }
  }

}